@charset "utf-8";
.wrappar{
  width: 400px;
}

.red-box{
  height: 100px;
  background: #ff0000;
  position: relative;
}

.white-box{
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
}

.purple-box{
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: right;
  margin: 10px;
}

.purple-box2{
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: right;
  margin: 10px 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.green-box {
  width: 150px;
  height: 250px;
  background: #00ff1e;
  float: left;
}

.brown-box {
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: left;
}

.orange-box{
  width: 140px;
  height: 40px;
  background: #ff863f;
  margin-bottom: 10px;
  border: solid 5px  #ffffff;
}

.section{
  margin: 40px 0 0 40px;
}

.yellow-box {
  height: 100px;
  background: #ffe600;
}

